<p>This is an automated email, please do not reply</p>

<p>Here is your access token that you requested for https://{{ BASE }}:</p>

<p>{{ token }}</p>

<p>If you have not requested a token, you are free to ignore this email.</p>

<p>
Best regards<br>
FinBIF<br>
https://laji.fi
</p>
