<p>This is an automated email, please do not reply</p>

<p>We sent you an email about your access token. Unfortunately, something went wrong and your token is lost. Our staff
was notified of this error and they'll look into it. Please try to create a new token again later. </p>

<p>
Best regards,<br>
FinBIF<br>
https://{{ BASE }}
</p>
