<p>Älä vastaa tähän automaattiseen viestiin.</p>

<p>Olet varannut vakiolinjan "{{ place.name }}". Varaus raukeaa {{ until }}.</p>

<p>
Ohjeita laskennan suorittamiseen löydät Linnustonseurannan sivuilta https://www.luomus.fi/fi/pesimalintujen-linja-pistelaskenta<br>
Ongelmatilanteissa ota yhteyttä linnustonseuranta@luomus.fi
</p>

<p>
Ystävällisin terveisin,<br>
Seurantatiimi, Luomus<br>
linnustonseuranta@luomus.fi<br>
https://www.luomus.fi/fi/linnustonseuranta
</p>
